<div class="dashboard-container flex flex-col md:flex-row gap-8">
  <!-- Container for all components -->
  <div class="flex flex-col md:flex-row gap-8 w-full ">

    <!-- Stats Container: Transaction Totals -->
    <div class="stats-container flex-1 p-4 bg-white shadow-lg rounded-lg">
      <h3 class="text-xl font-semibold mb-4">Transaction Totals</h3>
    
      <!-- Previous Week Option -->
      <div
        class="stat-item mb-2 cursor-pointer"
        [class.bg-blue-100]="periodLabel === 'weekly'"
        (click)="selectExpenditure('weekly')"
      >
        <h4 class="text-lg font-medium">This Week</h4>
        <p class="text-sm">Deposits: {{ expenditureSummary?.weekly?.deposit?.INCOME || 0 }}</p>
        <p class="text-sm">Withdrawals: {{ expenditureSummary?.weekly?.withdrawTotal || 0 }}</p>
      </div>
    
      <!-- This Month Option -->
      <div
        class="stat-item mb-2 cursor-pointer"
        [class.bg-blue-100]="periodLabel === 'monthly'"
        (click)="selectExpenditure('monthly')"
      >
        <h4 class="text-lg font-medium">This Month</h4>
        <p class="text-sm">Deposits: {{ expenditureSummary?.monthly?.deposit?.INCOME || 0 }}</p>
        <p class="text-sm">Withdrawals: {{ expenditureSummary?.monthly?.withdrawTotal || 0 }}</p>
      </div>
    
      <!-- This Year Option -->
      <div
        class="stat-item mb-2 cursor-pointer"
        [class.bg-blue-100]="periodLabel === 'yearly'"
        (click)="selectExpenditure('yearly')"
      >
        <h4 class="text-lg font-medium">This Year</h4>
        <p class="text-sm">Deposits: {{ expenditureSummary?.yearly?.deposit?.INCOME || 0 }}</p>
        <p class="text-sm">Withdrawals: {{ expenditureSummary?.yearly?.withdrawTotal || 0 }}</p>
      </div>
    </div>
    

    <!-- Charts Container: Line and Pie Charts -->
    <div class="charts-container flex-1 p-4 min-w-0">
      <app-line-chart [lineChartData]="lineChartData"></app-line-chart>
      <app-pie-chart [pieChartData]="pieChartData"></app-pie-chart>
    </div>

    <!-- Financial News Component -->
    <div class="financial-news flex-1 p-4 ">
      <app-news></app-news>
    </div>

  </div>
</div>
