<!-- Top Half with Image -->
<div class="max-w-screen  border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col items-center flex-1" *ngIf="!budgetSuggestion" [@moveUp]>
  <div class="flex items-center justify-center w-full">
      <a href="#">
          <img class="rounded-t-lg" src="../../assets/Gemini-2.png" alt="Gemini Image" class="max-w-full h-auto" />
      </a>
  </div>
  <div class="p-5 text-center">
      <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Use Gemini for your budget planning</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">See how you can use gemini for managing your finance.</p>
  </div>
</div>

<!-- Bottom Half with Overlay -->
<div class="relative h-screen flex-1 bg-stars-img bg-cover bg-center z-2">
  <!-- This is the overlay with background and opacity -->
  <div class="absolute inset-0 bg-white opacity-5"></div>

  <!-- Content that should appear on top of the overlay -->
  <div class="flex flex-col items-center justify-center p-6 space-y-4 max-w-5xl mx-auto z-10 relative">
      <!-- Button to get the budget suggestion -->
      <div *ngIf="!budgetSuggestion" class="flex flex-col items-center justify-center mt-5">
          <button
              (click)="onGetBudgetSuggestion()"
              class="bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-blue-600 focus:outline-none"
              [disabled]="loading"
          >
              <span *ngIf="loading">
                  <i class="fa fa-spinner fa-spin"></i> Loading...
              </span>
              <span *ngIf="!loading">Get Budget Suggestion</span>
          </button>
      </div>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="text-red-500 mt-2">
          {{ errorMessage }}
      </div>

      <!-- AI's Budget Suggestion -->
      <div *ngIf="budgetSuggestion" class="mt-6 w-full max-w-full p-4 border rounded-lg shadow-md bg-slate-200" [@slideIn]>
          <h4 class="text-gray-700 font-medium flex justify-center underline">Budget Suggestion by finWiz</h4>
          <div class="flex justify-end w-full">
              <button
                  (click)="onRegenerateBudgetSuggestion()"
                  class="bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-blue-600 focus:outline-none"
                  [disabled]="loading"
              >
                  <span *ngIf="loading">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                  </span>
                  <span *ngIf="!loading">Regenerate</span>
              </button>
          </div>
          <div [innerHTML]="budgetSuggestion"></div>

          <!-- Button to add suggestion to budget -->
          <div class="flex justify-center items-center">
              <button
                  (click)="onAddToBudget()"
                  class="bg-green-500 text-white py-2 px-6 mt-4 rounded-md hover:bg-green-600 focus:outline-none"
              >
                  Add to Budget
              </button>
          </div>
      </div>
  </div>
</div>