/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
  /* Apply the scroll behavior */
  .scrollable-container {
    overflow-x: auto;
    gap: 1rem;
    transition: 0.3s ease-in-out; /* Smooth transition for scrollbar visibility */
  }
  
  /* Hide scrollbar by default */
  .scrollable-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Show scrollbar on hover */
  .scrollable-container:hover::-webkit-scrollbar {
    display: block;
  }
  
  /* Style the scrollbar (optional) */
  .scrollable-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  

  /* You can add global styles to this file, and also import other style files */

@layer utilities {
    .bg-about-img {
      background-image: url('/assets/about-img.jpg');
      background-size: cover;
      background-position: center;
    }
    .bg-stars-img {
        background-image: url('assets/stars.jpg');
        background-size: cover;
        background-position: center;
      }
  }
  
